<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1000562805044-8gbdlctg1t8ua46tdgpt01m2g9img4n2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1000562805044-8gbdlctg1t8ua46tdgpt01m2g9img4n2</string>
	<key>API_KEY</key>
	<string>AIzaSyCoZqwgC7l8fL436xiHrjQID6PrNyiGMSk</string>
	<key>GCM_SENDER_ID</key>
	<string>1000562805044</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>pl.com.tpal.timeTrackerApp</string>
	<key>PROJECT_ID</key>
	<string>time-tracker-tpal</string>
	<key>STORAGE_BUCKET</key>
	<string>time-tracker-tpal.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1000562805044:ios:d28fbbc17d00c4fab97d61</string>
</dict>
</plist>